@import '../../../node_modules/mimo-website/dist/styles/shared/constants';

#home {
    @include display-page;

    #core {
        main {

            article {
                .banner-medium {
                    h2 {
                        font-size: $font-size-6;
                        margin-top: 37px;
                        font-weight: 600;
                    }

                    span {
                        max-width: 600px;
                        font-weight: 400;
                        font-size: $font-size-3;
                        line-height: 1.6;

                        a {
                            @include animated-underline($color-secondary-link, $animated-underline-15px-inline-ypos, $background-color: $color-secondary);
                        }
                    }
                }

                .content {
                    .card-set {
                        #card-jering {
                            svg {
                                path {
                                    &:last-child {
                                        fill: $color-secondary; // jering logo is designed like a stencil, whereby the stencil itself is red
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
