@keyframes spring {
    0% {
        transform: scale(0.001);
    }

    3.3333333333333335% {
        transform: scale(0.08648465241889304);
    }

    6.666666666666667% {
        transform: scale(0.2925544425792122);
    }

    10% {
        transform: scale(0.5453769000776721);
    }

    13.333333333333334% {
        transform: scale(0.7885515053015768);
    }

    16.666666666666664% {
        transform: scale(0.9858359510545952);
    }

    20% {
        transform: scale(1.1203759188505493);
    }

    23.333333333333332% {
        transform: scale(1.1910456381744146);
    }

    26.666666666666668% {
        transform: scale(1.2074450073146903);
    }

    30% {
        transform: scale(1.1848072378693664);
    }

    33.33333333333333% {
        transform: scale(1.1396720845937192);
    }

    36.666666666666664% {
        transform: scale(1.0867737103077222);
    }

    40% {
        transform: scale(1.0372472785339368);
    }

    43.333333333333336% {
        transform: scale(0.9980102596046763);
    }

    46.666666666666664% {
        transform: scale(0.972031472248923);
    }

    50% {
        transform: scale(0.9591515755496821);
    }

    53.333333333333336% {
        transform: scale(0.9571401925225252);
    }

    56.666666666666664% {
        transform: scale(0.9627402737224501);
    }

    60% {
        transform: scale(0.9725345973177002);
    }

    63.33333333333333% {
        transform: scale(0.9835525683059209);
    }

    66.66666666666666% {
        transform: scale(0.9936045618891646);
    }

    70% {
        transform: scale(1.001379431116342);
    }

    73.33333333333333% {
        transform: scale(1.0063674510304987);
    }

    76.66666666666667% {
        transform: scale(1.0086787415562226);
    }

    80% {
        transform: scale(1.008821064632095);
    }

    83.33333333333334% {
        transform: scale(1.0074864121971367);
    }

    86.66666666666667% {
        transform: scale(1.005378084818091);
    }

    90% {
        transform: scale(1.0030929456933941);
    }

    93.33333333333333% {
        transform: scale(1.0010597485781234);
    }

    96.66666666666667% {
        transform: scale(0.9995250513433123);
    }

    100% {
        transform: scale(1);
    }
}
