@import '../../../node_modules/mimo-theme/dist/styles/constants';

#home {
    @media #{$media-narrow} {
        #header-logo {
            visibility: hidden;
        }
    }

    body {
        header {
            .container {
                #header-navbar-and-search {
                    .wrapper {
                        @media #{$media-narrow} {
                            #header-search {
                                &.breadcrumbs-disabled {
                                    margin-bottom: 37px;
                                }
                            }
                        }
                    }
                }
            }
        }

        > .container {
            main {
                padding-top: 0;
                align-items: center;

                .jtcd-article {
                    flex-direction: column;
                    align-items: center;

                    .content {
                        flex-direction: column;
                        align-items: center;

                        svg {
                            @media #{$media-narrow} {
                                height: 248px;
                                width: 186px;
                            }

                            height: 320px;
                            width: 240px;
                            user-select: none;
                            opacity: 0;
                            transform: translateY(25%);
                            transition: opacity 0.5s $ease-out-quad, transform 0.5s $ease-out-quad;

                            &.transitioned-in {
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }

                        h1, h1 + p {
                            transform: translateY(50%);
                            opacity: 0;
                            transition: opacity 0.4s $ease-out-quad, transform 0.4s $ease-out-quad;

                            &.transitioned-in {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }

                        h1 {
                            margin-top: 46px;
                            text-align: center;
                            transition-delay: 0.6s;

                            & + p {
                                transition-delay: 1.1s;
                                text-align: center;
                                margin-top: 19px;
                            }
                        }
                    }
                }
            }
        }
    }
}
